In [1]:
import pandas as pd
import json

with open('questao_9.json', 'r') as file:
    data = json.load(file)
df = pd.json_normalize(data)
df

   id_loja     nome_loja                                             vendas
0       13       Loja Nu  [{'cidade': 'Natal', 'estado': 'RN', 'categori...
1       14       Loja Xi  [{'cidade': 'GoiÃ¢nia', 'estado': 'GO', 'categ...
2       15  Loja Omicron  [{'cidade': 'SÃ£o LuÃ­s', 'estado': 'MA', 'cat...
3       16       Loja Pi  [{'cidade': 'MaceiÃ³', 'estado': 'AL', 'catego...

In [3]:
df = pd.json_normalize(data, record_path='vendas', meta=['id_loja', 'nome_loja'], sep='_')
df

,cidade,estado,categoria,vendas_mensais,faturamento_mensal,id_loja,nome_loja
0,Natal,RN,CalÃ§ados,140,42000.0,13,Loja Nu
1,GoiÃ¢nia,GO,AcessÃ³rios,75,22500.0,14,Loja Xi
2,SÃ£o LuÃ­s,MA,Livros,210,63000.0,15,Loja Omicron
3,MaceiÃ³,AL,EletrÃ´nicos,50,25000.0,16,Loja Pi